.footer-wrapper{
    margin-top: 4rem;
    background-color: #127c71;
    color: #fff;
    padding: 7rem 4rem ;
    
}
.footer-course{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}
.footer-course p{
    font-size: 18px;
 
    
}
.footer-container{
    display: flex;
    gap: 150px;
}
li{
    list-style: none;
    margin-top: 15px;
    font-size: 1.2rem;
}
a{
    text-decoration: none;
    color: #fff;
    line-height: 2.2rem;
}
a:hover{
    text-decoration: underline;
}
.course-menu{
    display: flex;
    gap: 140px;
    font-weight: 500;
    font-size: 18px;
}
.footer-icon{
    display: inline-flex;
    gap: 20px;
    margin-top: 20px;
}